# Extensões
*.aux
*.bcf
*.bkp
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.tex
*.zip
*.pcapng

# Diretórios
2025-2/
2026-1/
AULAS/Apresentação/imagens/
AULAS/imagens/
AULAS/01/slides/
AULAS/01/v1/
AULAS/01/v2/
AULAS/11-discard/
Plano de Ensino/*
PROVAS/

# Arquivos
AULAS/04/topicos_teorico.md

# Exceções
!Plano de Ensino/plano_ensino.pdf