# Extensões
*.aux
*.bcf
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.tex
*.zip
*.pcapng

# Diretórios
AULAS/Apresentação/imagens/
AULAS/imagens/
AULAS/01/slides/
AULAS/01/v1/
AULAS/01/v2/
Documentos/Plano\ de\ Ensino/
Trabalhos/

# Arquivos
Documentos/mapa_SINF_CSHNB032_2025.2_01_.pdf
Documentos/mapa_SINF_CSHNB032_2025.2_02_.pdf
questões_av1.md
comentários_av1.md
questoes_com_gabarito_completo.csv
questoes_com_gabarito.csv
AULAS/04/topicos_teorico.md